
@font-face {
    font-family: 'Rubik Lines';
    src: url('/static/assets/RubikLines-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ganclm';
    src: url('/static/assets/ganclm_bold-webfont.woff') format('woff'),
         url('/static/assets/ganclm_bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url('/static/assets/background.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    position: relative;
    text-align: center;
}

h1 {
    font-family: 'Rubik Lines';
    font-size: 60px;
    color: cadetblue;
}

h2 {
    font-family: 'ganclm', sans-serif;
    font-size: 30px;
}

h3 {
    font-family: 'ganclm', sans-serif;
    font-size: 20px;
}

p {
    font-family: 'ganclm', sans-serif;
    font-size: 16px;
}

.pageContainer {
    width: 60%;
    margin: auto;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: grid;
    gap: 20px;
}

#socialMediaLogos {
    display: flex;
    align-items: center;
    justify-content: center;
}

#mediaUrl {
    width: 70%;
    padding: 15px;
    font-size: large;
    border-radius: 5px;
    border: 2px solid #000;
    text-align: center;
    align-self: center;
}

.customAlert {
    font-family: 'ganclm', sans-serif;
    font-size: 26px;
    display: none;
    position: fixed;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
    color: white;
    padding: 16px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.logo {
    width: 80px;
    margin-right: 60px;
    transition: 0.5s ease-in-out;
}

form {
    display: flex;
    flex-direction: column;
}

button {
    height: 60px;
    width: 250px;
    background-color: #007bff;
    color: white;
    border-radius: 15px;
    border: 3px solid #000;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 30px;
    align-self: center;
    margin-top: 10px;
    font-family: 'ganclm', sans-serif;
}

button:hover {
    background-color: #0056b3;
}


ul.messages {
    list-style-type: none;
    padding: 0;
}

ul.messages li {
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
    background-color: #f44336;
    color: white;
    text-align: center;
}
