<!DOCTYPE html>
{% load static %}
<html lang="he" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body>
    <div id="customAlert" class="customAlert"></div>
    <div class="pageContainer">
        <h1>הורידו סרטונים מרשתות חברתיות</h1>
        <div id="socialMediaLogos">
            {% for platform, info in PLATFORM_INFO.items %}
                <img src="{% static 'assets/'|add:platform|add:'.png' %}" alt="{{ platform }}" class="logo" data-platform="{{ platform|lower }}">
            {% endfor %}
        </div>
        <h2>הסרטון המתקבל הינו באיכות הגבוהה ביותר מהתוצאות הקיימות</h2>
        <form id="downloadForm" action="{% url 'downloadMedia' %}" method="post">
            {% csrf_token %}
            <input type="text" id="mediaUrl" name="mediaUrl" placeholder="הזינו את קישור הסרטון">
            <p>דוגמה לשימוש: קישור לסרטון לינקדאין על שימוש באפליקציה שלי <a href="#" id="copyLink">לחצו להעתקה</a></p>
            <button type="submit">הורדה</button>
            <h3>בלחיצה על כפתור הורדה אני מתחייב כי לא אעשה שימוש במדיה לשימוש מסחרי, אלא לשימוש אישי בלבד.<br>
            לא ניתן להוריד סרטונים המוגדרים עם הגבלת גיל או של חשבונות פרטיים.</h3>
            <div id="loadingSpinner" class="spinner-container" style="display: none;">
                <div class="loader"></div>
            </div>
        </form>
    </div>
</body>
</html>
